@import '../../scss/colors.scss';

.heading{
  display: flex;
  width: 100%;
  align-items: center;
  column-gap: 40px;
  h2{
    background-color: $green;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    padding-left: 10px;
    padding-right: 10px;
}
}

@media screen and (max-width: 768px) {
  .heading{
    flex-direction: column;
    justify-content: center;
    text-align: center;
    row-gap: 20px;
  }
}