@import '../../scss/colors.scss';

.testimonial{
  min-width: 600px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  position: relative;
  span{
    color: $green;
    font-weight: 500;
    font-size: 20px;
  }
  h4{
    color: $gray;
    display: flex;
    flex-direction: column;
    margin-left: 40px;
  }
}

.testimonial__text{
  img{
    position: relative;
  }
  p{
    color: $gray;
    position: absolute;
    top: 50px;
    margin-left: 50px;
    margin-right: 50px;
  }
}